body{
    margin: 0;
}

#mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.player{
    width: 100vw;
    height: 50vh;
    max-height: 50vh;
    display: flex;
}

.hands{
    width: 50vw;
    height: 50vh;
    background-color:white;
}

