body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
}

#hoverBoxes{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: transparent;
    flex-direction: column;
}

.hoverbox{
    position: absolute;
    top:30vh;
    left: 35vw;
    display: flex;
    flex-direction: column;
    width: 30vw;
    Height: 20vh;
    background-color:whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#startBox{
    z-index: 1;
}
.content{
    display: flex;
    flex-direction: column;
    position: relative;
    top:3rem;
    align-items: center;
    justify-content: center;
}

button{
    margin-top: 1rem;
    width: max-content;
}

#mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: absolute;
}

.player{
    width: 100vw;
    height: 50vh;
    max-height: 50vh;
    display: flex;
}

.hands{
    width: 50vw;
    height: 50vh;
    background-color:white;
    text-align: center;
}

img{
    margin: 10vh;
    width: auto;
    height: 50%;
    max-height: 30vh;
}

#imgone{
    transform: scaleX(-1);
}
#imgfour{
    transform: scaleY(-1);
}
#imgthree{
    transform: scale(-1);
}
