body{
    margin: 0;
}

#mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.player{
    width: 100vw;
    height: 50vh;
    max-height: 50vh;
    display: flex;
}

.hands{
    width: 50vw;
    height: 50vh;
    background-color:white;
    text-align: center;
}

img{
    margin: 10vh;
    width: auto;
    max-width: 20vw;
    height: 30vh;
    max-height: 30vh;
}

#imgone{
    transform: scaleX(-1);
}
#imgfour{
    transform: scaleY(-1);
}
#imgthree{
    transform: scale(-1);
}
